<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
      <div class="container">
        <div class="h4 text-center mb-4 title">Contact</div>

                  <div class="col-md-6 text-center ">
                    <div class="card-body">
                        <p class="mb-0">
                            <strong>Phone</strong>
                        </p>
                        <p class="pb-2">+91 989876789</p>
                        <p class="mb-0">
                            <strong>Email</strong>
                        </p>
                        <p>rwithik22@gmail.com</p>
                    </div>
                </div>
                </div>
              </div>
            </div>
          
   
