<div class="section" id="qualifications">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science</div>
                                <h4 class="category">Zamorins Guruvayoorappan college</h4>
                                <ul>
                                        <li>Completed B.Sc in Physics <b>7.5 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="row">
                    <div class="col-md-3 " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2018</p>
                        <div class="h5">Higher Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Kerala State Board of Education</div>
                                <h4 class="category">Rahmania HSS</h4>
                                <ul>
                                        <li>Completed  HSE with <b>91.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                               
